<button ng-click="endTurn()">test</button>
<my-directive myparam="myObject"></my-directive>
<div class="stat-area stat-area-weapons">
	<span>Global Statistics</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless-2">Auto fail</div>
					<div class="div-table-col">{{autofail}}</div>
					<div class="div-table-col div-table-col-borderless">Luck</div>
					<div class="div-table-col">{{character.luck}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class=" stat-area stat-area-weapons row" style="margin-left: 0px;">

<div style="float: left; width: 100%;">
	<span style="width: 100%; float: left;">Equipment</span>
	<div style="width: 100%; float: left;">
		<div>
			<div type="button" title="Change Main Hand" ng-click="hands()" class="div-table-col div-table-col-borderless btn btn-success weapon-change">{{turns.weaponHands}}H</div>
			<div class="btn-group" uib-dropdown style="width: 308px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-mainhand" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 308px;height: 44px;">
					{{character.mainHandWeapon.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="weapon in character.weapons" role="menuitem"><a ng-click="setMainHandWeapon(weapon)">{{weapon.name}}</a></li>
				</ul>
			</div>
			<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>
			<div title="Thrust Damage" class="div-table-col">
				<div ng-if="character.mainHandWeapon.attackType[0].value">{{character.mainHandWeapon.attackType[0].damage + ' + ' + character.mainHandWeapon.attackType[0].piercing}}</div>
			</div>
			<div class="div-table-col" ng-repeat="thEff in character.mainHandWeapon.attackType[0].effects"><img src="/app/img/{{thEff.icon}}" alt="{{thEff.name}}" title="{{thEff.name}}" ng-if="thEff.icon"></div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">Skill</div>
			<div class="btn-group" uib-dropdown style="width: 132px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-mainHandSkill" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px;height: 44px;">{{character.mainHandWeapon.type.name}}<span class="caret"></span>
					</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="(activeSkill, value) in character.combatSkills" role="menuitem"><a ng-click="setMHActiveSkill(activeSkill, value)">{{activeSkill}}</a></li>
				</ul>
			</div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
			<div class="div-table-col">{{character.characterMHAV}}</div>
			<div title="Defense Value" class="div-table-col div-table-col-borderless">DV</div>
			<div class="div-table-col">{{character.characterMHDV}}</div>
			<div title="Weight" class="div-table-col div-table-col-borderless">W</div>
			<div class="div-table-col">{{character.mainHandWeapon.weight}}</div>
			<div title="Reach" class="div-table-col div-table-col-borderless">R</div>
			<div class="div-table-col">{{character.mainHandWeapon.reach}}</div>
			<div title="Swing Effects" class="div-table-col div-table-col-2">Swing</div>
			<div title="Swing Damage" class="div-table-col">
				<div ng-if="character.mainHandWeapon.attackType[1].value">{{character.mainHandWeapon.attackType[1].damage + ' + ' + character.mainHandWeapon.attackType[1].piercing}}</div>
			</div>
			<div class="div-table-col" ng-repeat="swEff in character.mainHandWeapon.attackType[1].effects"><img src="/app/img/{{swEff.icon}}" alt="{{swEff.name}}" title="{{swEff.name}}" ng-if="swEff.icon"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>



		</div>
		<div>

			<div type="button" title="Change Offhand" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
				<span class="glyphicon glyphicon-retweet"></span>
			</div>
			<div class="btn-group" uib-dropdown style="width: 308px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-offhand" ng-disabled="turns.weaponHands == 2" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 308px;height: 44px;">
					{{character.offHandWeapon.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="weapon in character.weapons" role="menuitem"><a ng-click="setOffHandWeapon(weapon)">{{weapon.name}}</a></li>
				</ul>
			</div>
			<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>

			<div title="Thrust Damage" class="div-table-col">
				<div ng-if="character.offHandWeapon.attackType[0].value">{{character.offHandWeapon.attackType[0].damage + ' + ' + character.offHandWeapon.attackType[0].piercing}}</div>
			</div>
			<div class="div-table-col" ng-repeat="thEff in character.offHandWeapon.attackType[0].effects"><img src="/app/img/{{thEff.icon}}" alt="{{thEff.name}}" title="{{thEff.name}}" ng-if="thEff.icon"></div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">Skill</div>
			<div class="btn-group" uib-dropdown style="width: 132px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-offHandSkill" ng-disabled="turns.weaponHands == 2" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px;height: 44px;">{{character.offHandWeapon.type.name}}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="(activeSkill, value) in character.combatSkills" role="menuitem"><a ng-click="setOHActiveSkill(activeSkill, value)">{{activeSkill}}</a></li>
				</ul>
			</div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
			<div class="div-table-col">{{character.characterOHAV}}</div>
			<div title="Defense Value" class="div-table-col div-table-col-borderless">DV</div>
			<div class="div-table-col">{{character.characterOHDV}}</div>
			<div title="Weight" class="div-table-col div-table-col-borderless">W</div>
			<div class="div-table-col">{{character.offHandWeapon.weight}}</div>
			<div title="Reach" class="div-table-col div-table-col-borderless">R</div>
			<div class="div-table-col">{{character.offHandWeapon.reach}}</div>
			<div title="Swing Effects" class="div-table-col div-table-col-2">Swing</div>
			<div title="Thrust Damage" class="div-table-col">
				<div ng-if="character.offHandWeapon.attackType[1].value">{{character.offHandWeapon.attackType[1].damage + ' + ' + character.offHandWeapon.attackType[1].piercing}}</div>
			</div>
			<div class="div-table-col" ng-repeat="swEff in character.offHandWeapon.attackType[1].effects"><img src="/app/img/{{swEff.icon}}" alt="{{swEff.name}}" title="{{swEff.name}}" ng-if="swEff.icon"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
		</div>



	</div>
	<div style="width: 100%; float: left;">
		<div class="div-table-col div-table-col-borderless-2">Head</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Body</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Left Arm</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Right Arm</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Left Leg</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Right Leg</div>
		<div class="div-table-col">2</div>
	</div>

<!--Ranged weapons left for later

	<div class="row" style="width: 85%;">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div type="button" title="Change Ranged Weapon" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
						<span class="glyphicon glyphicon-retweet"></span>
					</div>
					<div class="div-table-col div-table-col-weapon">Long Bow</div>
					<div title="Ammo Effects" class="div-table-col div-table-col-2">Ammo</div>
					<div title="Ammo Damage" class="div-table-col">2 + 2</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>

				</div>
				<div class="div-table-row">
					<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
					<div class="div-table-col">-</div>
					<div title="Ranged Weapon STR" class="div-table-col div-table-col-borderless">STR</div>
					<div title="Ranged Weapon STR" class="div-table-col">12</div>
					<div title="Ranged Weapon Damage" class="div-table-col div-table-col-borderless">DMG</div>
					<div title="Ranged Weapon Damage" class="div-table-col">2 + 0</div>
					<div title="Range" class="div-table-col div-table-col-borderless">R</div>
					<div title="Range" class="div-table-col">300</div>
					<div title="Quantity" class="div-table-col div-table-col-borderless">Q</div>
					<div title="Quantity" class="div-table-col">50</div>
					<div class="div-table-col div-table-col-borderless-2"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>

				</div>
			</div>
		</div>
</div>

-->
</div>

</div>
</br>

<div class="stat-area stat-area-weapons">
	<span>Combat</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless-2">Init Roll</div>
					<div class="div-table-col"><input type="number" min="1" max="6" class="form-control form-control-stats" ng-model="turns.thisTurn.initiativeRoll" ng-value=turns.thisTurn.initiativeRoll ng-change="calcInit()" style="padding: 0px;"></div>
					<div class="div-table-col div-table-col-borderless-2">Bonus</div>
					<div class="div-table-col"><input type="number" min="0" class="form-control form-control-stats" ng-disabled="disableInitValue" ng-init="disableInitValue=false" ng-model="turns.initiativeTotalBonus" ng-change="initiativeBonus()" style="padding: 0px;"></div>
					<button type="button" title="Start Combat" class="div-table-col div-table-col-borderless btn btn-success weapon-change" ng-click="startCombat()" style="width: 88px; height: 44px; float: left;">Start Combat</button>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless">Turn</div>
					<button type="button" ng-repeat="turn in turns.combat" style="width: 44px; height: 44px; float: left;">
						<div>{{turn.number}}</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="stat-area stat-area-weapons">
	<span>Attack</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless">Init</div>
					<div class="div-table-col" ng-model="turns.thisTurn.initiativeRoll">{{turns.thisTurn.initiative}}</div>
					<div class="div-table-col div-table-col-borderless">Bonus</div>
					<div class="div-table-col div-table-col-borderless">{{turns.bonusLeft}}</div>
					<button type="button" title="Add Action" ng-click="addAction()" class="btn btn-success" style="width: 88px; height: 44px; float: left;">Add Action</button>
					<button type="button" title="End Turn" class="btn btn-success" ng-click="endTurn()" style="width: 88px; height: 44px; float: left;">End Turn</button>
					<div class="div-table-col div-table-col-3" ng-if="!turns.actionStatus">Too many actions!</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-3">Action</div>
					<div class="div-table-col div-table-col-2">Attack Type</div>
					<div class="div-table-col">Bonus</div>
					<div class="div-table-col div-table-col-2">Location</div>
					<div class="div-table-col div-table-col-2">Specials</div>
					<div class="div-table-col div-table-col-3">Effects</div>
					<div class="div-table-col">Roll</div>
					<div class="div-table-col">AV</div>
					<div class="div-table-col ">Vigor</div>
				</div>


				<!--Start of NEW Attack-->
				<div>
					<div style="width: 44px; float: left;">

					</div>
					<div style="float: left;">
						<div class="div-table-row" ng-repeat="action in turns.actions" style="float: left;">

							<!--Remove Action-->
							<div type="button" title="Remove Action" ng-click="removeAction($index)" class="div-table-col div-table-col-borderless btn btn-danger weapon-change"><span class="glyphicon glyphicon-minus"></span></div>
							<!--Action-->
							<div class="btn-group" uib-dropdown style="width: 132px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
								<button id="btn-append-to-single-button-action" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px;height: 44px;">{{action.currentAction.name}}
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
									<li ng-repeat="(obj, properties) in action.type" role="menuitem"><a ng-click="setAction(obj, properties, $parent.$index)">{{properties.weapon.name}}</a></li>
								</ul>
							</div>
							<!--Attack type-->
							<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
								<button id="btn-append-to-single-button-action-type" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px;">{{action.currentAction.attackType}}
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
									<li ng-repeat="type in action.currentAction.weapon.attackType | filter: true : type.value" role="menuitem"><a ng-click="setType(type, $index, $parent.$index)">{{type.name}}</a></li>
								</ul>
							</div>
							<!--Bonus-->
							<div class="div-table-col"><input type="number" min="0" max="{{action.bonusMax}}" class="form-control form-control-stats" ng-model="action.bonusUsed" ng-change="actionBonusUsed(action.bonusUsed, $index)" style="padding: 0px;"></div>
							<!--Location-->
							<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
								<button id="btn-append-to-single-button-location-pick" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{action.currentLocation}}
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
									<li ng-repeat="activeLocation in action.location" role="menuitem"><a ng-click="setActionLocation(activeLocation, $parent.$index)">{{activeLocation.name}}</a></li>
								</ul>
							</div>
							<!--Specials-->
							<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
								<button id="btn-append-to-single-button-specials-pick" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{action.currentSpecial}}
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
									<li ng-repeat="activeSpecial in action.specials" role="menuitem"><a ng-click="setActionSpecial(activeSpecial, $parent.$index)">{{activeSpecial.name}}</a></li>
								</ul>
							</div>


						</div>
					</div>
				</div>
				<!--Start of Attack-->
				<div class="div-table-row">
					<!--Action-->
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-action-types" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px;">{{turns.currentActionType}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="activeAction in turns.actionType" role="menuitem"><a ng-click="setActionType(activeAction)">{{activeAction.name}}</a></li>
						</ul>
					</div>
					<!--Attack type-->
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-attack-type" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px;">{{turns.currentAttackType}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="activeAttack in turns.attackType | filter : true : activeAttack.value" role="menuitem"><a ng-click="setAttackType(activeAttack)">{{activeAttack.name}}</a></li>
						</ul>
					</div>
					<!--Bonus-->
					<div class="div-table-col"><input type="number" min="0" max="{{turns.thisTurn.bonus}}" class="form-control form-control-stats" ng-model="turns.thisTurn.bonusUsed" ng-change="bonusUsed()" style="padding: 0px;"></div>
					<!--Location-->
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-location" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.currentLocation}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="activeLocation in turns.location" role="menuitem"><a ng-click="setLocation(activeLocation)">{{activeLocation.name}}</a></li>
						</ul>
					</div>
					<!--Specials-->
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-specials" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.currentSpecial}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="activeSpecial in turns.specials" role="menuitem"><a ng-click="setSpecial(activeSpecial)">{{activeSpecial.name}}</a></li>
						</ul>
					</div>
					<!--Effects-->
					<div class="btn-group" uib-dropdown auto-close="outsideClick"  style="width: 132px; display: table-column; height: 44px; text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-effects" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px; height: 44px;">
							<span ng-repeat="effects in turns.buyDamageEffects">
								<img src="/app/img/{{effects.icon}}"> {{effects.value}}
							</span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="min-width: 132px;">
							<li ng-repeat="effect in turns.buyDamageEffects | filter: true : available" role="menuitem" auto-close="disabled">
								<div>
									<a>
										<div style="float: left; padding-left: 5px; padding-right: 5px;"><img src="/app/img/{{effect.icon}}" alt="{{effect.name}}" title="{{effect.name}}"></div>
										<input type="number" min="0" max="{{effect.max}}" class="form-control form-control-stats" ng-model="effect.value" ng-change="vigorDamageEffectsCost(effect, $index)" style="float: left; width: 88px; height: 44px; padding: 0px;">
									</a>
								</div>
							</li>
						</ul>
					</div>
					<!--AV roll-->
					<div class="div-table-col"><input type="number" min="3" max="18" class="form-control form-control-stats" ng-model="turns.combatRoll" ng-change="setCombatRoll()" style="padding: 0px;"></div>
					<!--AV sum-->
					<div class="div-table-col">{{turns.thisTurn.finalAV}}</div>
					<!--Vigor Spent-->
					<div class="div-table-col">{{turns.thisTurn.vigor}}</div>

				</div>
				<!--End of Attack-->
				</br>
				<!--Start of Attack Successes-->
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Hit Location</div>
					<div class="div-table-col">Dmg</div>
					<div class="div-table-col">W Eff</div>
					<div class="div-table-col div-table-col-3">Effects</div>
				</div>

				<div class="div-table-row">

					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-sublocation" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.sublocationPick}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="activeSublocation in turns.sublocation" role="menuitem"><a ng-click="setSublocation(activeSublocation)">{{activeSublocation.name}}</a></li>
						</ul>
					</div>
					<div class="div-table-col">{{turns.thisTurn.damage + ' + ' + turns.thisTurn.piercing}}</div>
					<div class="div-table-col"><input type="number" min="1" max="6" class="form-control form-control-stats" ng-model="turns.activeWeaponEffectRoll" ng-change="setActiveWeaponEffectRoll()" style="padding: 0px;"></div>

					<div class="btn-group" uib-dropdown auto-close="outsideClick"  style="width: 132px; display: table-column; height: 44px; text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-effects-done" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px; height: 44px;">
							<span ng-repeat="effects in turns.thisTurn.effects">
								<img src="/app/img/{{effects.icon}}"> {{effects.value}}
							</span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="min-width: 132px;">
							<li ng-repeat="activeDamageEffect in turns.thisTurn.effects" role="menuitem" auto-close="disabled">
								<div>
									<a>
										<div style="float: left; padding-left: 5px; padding-right: 5px;"><img src="/app/img/{{activeDamageEffect.icon}}" alt="{{activeDamageEffect.name}}" title="{{activeDamageEffect.name}}"></div>
										<input type="number" min="0" class="form-control form-control-stats" ng-model="activeDamageEffect.value" style="float: left; width: 88px; height: 44px; padding: 0px;">
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--End of Attack Successes-->

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Main Hand</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">Head</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">9</div>
					<div class="div-table-col">21</div>
					<div class="div-table-col">3</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">-</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">-</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>
			</div>
		</div>
	</div>
	<span>Defend</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Evade DV</div>
					<div class="div-table-col">15</div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-2">Weapon DV</div>
					<div class="div-table-col">16</div>
					<div class="div-table-col div-table-col-borderless">Luck</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
				</div>
				<div class="div-table-row">

					<div class="div-table-col div-table-col-2">Enemy AV</div>
					<div class="div-table-col div-table-col-2">Action</div>
					<div class="div-table-col div-table-col-2">Def Type</div>
					<div class="div-table-col div-table-col-2">Init Bonus</div>
					<div class="div-table-col div-table-col-2">Specials</div>
					<div class="div-table-col div-table-col-2">Roll</div>
					<div class="div-table-col">DV</div>
					<div class="div-table-col">Vigor</div>
					<div class="div-table-col div-table-col-2">Sublocation</div>
					<div class="div-table-col div-table-col-2">Damage</div>
					<div class="div-table-col div-table-col-2">Effects</div>
					<div type="button" title="Add Defense" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
						<span class="glyphicon glyphicon-plus"></span>
					</div>

				</div>

				<div class="div-table-row">
					<div class="div-table-col">25</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Evade</div>
					<div class="div-table-col div-table-col-2">Evade</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Hard Def</div>
					<div class="div-table-col">13</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col">30</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">-</div>

				</div>
				<div class="div-table-row">
					<div class="div-table-col">24</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Main Hand</div>
					<div class="div-table-col div-table-col-2">Parry</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">10</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col">23</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="stat-area stat-area-weapons">
	<div class="row">
		<div class="col-md-8">
			<span>Vigor</span>
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col">\</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">2</div>
					<div class="div-table-col">3</div>
					<div class="div-table-col">4</div>
					<div class="div-table-col">5</div>
					<div class="div-table-col">6</div>
					<div class="div-table-col">7</div>
					<div class="div-table-col">8</div>
					<div class="div-table-col">9</div>
					<div class="div-table-col">10</div>
					<div class="div-table-col">11</div>
					<div class="div-table-col">12</div>
					<div class="div-table-col">13</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">0</div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-1</div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-2</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-3</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-4</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-5</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<span>Health</span>
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Body Part</div>
					<div class="div-table-col"><img src="/app/img/Trauma.png" alt="Trauma" title="Trauma"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Critical.png" alt="Critical" title="Critical"></div>
					<div class="div-table-col">Total</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Head</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Body</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">1</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Left Arm</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Right Arm</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Left Leg</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Right Leg</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
			</div>
		</div>
	</div>
</div>