<button ng-click="endTurn()">test</button>
<div class="stat-area stat-area-weapons">
	<span>Global Statistics</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless-2">Auto fail</div>
					<div class="div-table-col">{{autofail}}</div>
					<div class="div-table-col div-table-col-borderless">Luck</div>
					<div class="div-table-col">{{character.luck}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class=" stat-area stat-area-weapons row" style="margin-left: 0px;">

<div style="float: left; width: 100%;">
	<span style="width: 100%; float: left;">Equipment</span>
	<div style="width: 100%; float: left;">
		<div>
			<div type="button" title="Change Main Hand" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
				<span class="glyphicon glyphicon-retweet"></span>
			</div>
				<div class="btn-group" uib-dropdown style="width: 308px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
					<button id="btn-append-to-single-button-mainhand" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 308px;height: 44px;">
						{{character.mainHandWeapon.name}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
						<li ng-repeat="weapon in character.weapons" role="menuitem"><a ng-click="setMainHandWeapon(weapon)">{{weapon.name}}</a></li>
					</ul>
				</div>
			<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>
			<div title="Thrust Damage" class="div-table-col">{{character.mainHandWeapon.thrustDamage + ' + ' + character.mainHandWeapon.thrustDamagePiercing}}</div>
			<div class="div-table-col" ng-repeat="thEff in character.mainHandWeapon.thrustDamageEffects"><img src="/app/img/{{thEff.icon}}" alt="{{thEff.name}}" title="{{thEff.name}}" ng-if="thEff.icon"></div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">Skill</div>
			<div class="btn-group" uib-dropdown style="width: 132px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-mainHandSkill" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px;height: 44px;">{{character.mainHandWeapon.type.name}}<span class="caret"></span>
					</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="(activeSkill, value) in character.combatSkills" role="menuitem"><a ng-click="setMHActiveSkill(activeSkill, value)">{{activeSkill}}</a></li>
				</ul>
			</div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
			<div class="div-table-col">{{character.characterMHAV}}</div>
			<div title="Defense Value" class="div-table-col div-table-col-borderless">DV</div>
			<div class="div-table-col">{{character.characterMHDV}}</div>
			<div title="Weight" class="div-table-col div-table-col-borderless">W</div>
			<div class="div-table-col">{{character.mainHandWeapon.weight}}</div>
			<div title="Reach" class="div-table-col div-table-col-borderless">R</div>
			<div class="div-table-col">{{character.mainHandWeapon.reach}}</div>
			<div title="Swing Effects" class="div-table-col div-table-col-2">Swing</div>
			<div title="Swing Damage" class="div-table-col">{{character.mainHandWeapon.swingDamage + ' + ' + character.mainHandWeapon.swingDamagePiercing}}</div>
			<div class="div-table-col" ng-repeat="swEff in character.mainHandWeapon.swingDamageEffects"><img src="/app/img/{{swEff.icon}}" alt="{{swEff.name}}" title="{{swEff.name}}" ng-if="swEff.icon"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>



		</div>
		<div>

			<div type="button" title="Change Offhand" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
				<span class="glyphicon glyphicon-retweet"></span>
			</div>
			<div class="btn-group" uib-dropdown style="width: 308px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-offhand" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 308px;height: 44px;">
					{{character.offHandWeapon.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="weapon in character.weapons" role="menuitem"><a ng-click="setOffHandWeapon(weapon)">{{weapon.name}}</a></li>
				</ul>
			</div>
			<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>
			<div title="Thrust Damage" class="div-table-col">{{character.offHandWeapon.thrustDamage + ' + ' + character.offHandWeapon.thrustDamagePiercing}}</div>
			<div class="div-table-col" ng-repeat="thEff in character.offHandWeapon.thrustDamageEffects"><img src="/app/img/{{thEff.icon}}" alt="{{thEff.name}}" title="{{thEff.name}}" ng-if="thEff.icon"></div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">Skill</div>
			<div class="btn-group" uib-dropdown style="width: 132px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
				<button id="btn-append-to-single-button-offHandSkill" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px;height: 44px;">{{character.offHandWeapon.type.name}}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li ng-repeat="(activeSkill, value) in character.combatSkills" role="menuitem"><a ng-click="setOHActiveSkill(activeSkill, value)">{{activeSkill}}</a></li>
				</ul>
			</div>

			<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
			<div class="div-table-col">{{character.characterOHAV}}</div>
			<div title="Defense Value" class="div-table-col div-table-col-borderless">DV</div>
			<div class="div-table-col">{{character.characterOHDV}}</div>
			<div title="Weight" class="div-table-col div-table-col-borderless">W</div>
			<div class="div-table-col">{{character.offHandWeapon.weight}}</div>
			<div title="Reach" class="div-table-col div-table-col-borderless">R</div>
			<div class="div-table-col">{{character.offHandWeapon.reach}}</div>
			<div title="Swing Effects" class="div-table-col div-table-col-2">Swing</div>
			<div title="Swing Damage" class="div-table-col">{{character.offHandWeapon.swingDamage + ' + ' + character.offHandWeapon.swingDamagePiercing}}</div>
			<div class="div-table-col" ng-repeat="swEff in character.offHandWeapon.swingDamageEffects"><img src="/app/img/{{swEff.icon}}" alt="{{swEff.name}}" title="{{swEff.name}}" ng-if="swEff.icon"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
			<div title="Attack Value" class="div-table-col div-table-col-borderless"></div>
		</div>



	</div>
	<div style="width: 100%; float: left;">
		<div class="div-table-col div-table-col-borderless-2">Head</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Body</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Left Arm</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Right Arm</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Left Leg</div>
		<div class="div-table-col">2</div>
		<div class="div-table-col div-table-col-borderless-2">Right Leg</div>
		<div class="div-table-col">2</div>
	</div>

<!--Ranged weapons left for later

	<div class="row" style="width: 85%;">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div type="button" title="Change Ranged Weapon" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
						<span class="glyphicon glyphicon-retweet"></span>
					</div>
					<div class="div-table-col div-table-col-weapon">Long Bow</div>
					<div title="Ammo Effects" class="div-table-col div-table-col-2">Ammo</div>
					<div title="Ammo Damage" class="div-table-col">2 + 2</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>

				</div>
				<div class="div-table-row">
					<div title="Attack Value" class="div-table-col div-table-col-borderless">AV</div>
					<div class="div-table-col">-</div>
					<div title="Ranged Weapon STR" class="div-table-col div-table-col-borderless">STR</div>
					<div title="Ranged Weapon STR" class="div-table-col">12</div>
					<div title="Ranged Weapon Damage" class="div-table-col div-table-col-borderless">DMG</div>
					<div title="Ranged Weapon Damage" class="div-table-col">2 + 0</div>
					<div title="Range" class="div-table-col div-table-col-borderless">R</div>
					<div title="Range" class="div-table-col">300</div>
					<div title="Quantity" class="div-table-col div-table-col-borderless">Q</div>
					<div title="Quantity" class="div-table-col">50</div>
					<div class="div-table-col div-table-col-borderless-2"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>

				</div>
			</div>
		</div>
</div>

-->
</div>

</div>
</br>

<div class="stat-area stat-area-weapons">
	<span>Combat</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless">Turn</div>
					<div class="div-table-col temp-bg-bolor">1</div>
					<div class="div-table-col temp-bg-bolor">2</div>
					<div class="div-table-col temp-bg-bolor-2">3</div>
					<div class="div-table-col">4</div>
					<div class="div-table-col">5</div>
					<div class="div-table-col">6</div>
					<div class="div-table-col">7</div>
					<div class="div-table-col">8</div>
					<div class="div-table-col">9</div>
					<div class="div-table-col">10</div>
					<div class="div-table-col">11</div>
					<div class="div-table-col">12</div>
					<div class="div-table-col">13</div>
					<div class="div-table-col div-table-col-borderless-2">Init Roll</div>
					<div class="div-table-col"><input type="number" min="1" max="6" class="form-control form-control-stats" ng-model="turns.thisTurn.initiativeRoll" ng-value=turns.thisTurn.initiativeRoll ng-change="calcInit()" style="padding: 0px;"></div>
					<div class="div-table-col div-table-col-borderless-2">Bonus</div>
					<div class="div-table-col"><input type="number" min="0" class="form-control form-control-stats" ng-model="turns.thisTurn.bonus" ng-change="initBonus()" style="padding: 0px;"></div>
					<div type="button" title="Start Combat" class="div-table-col div-table-col-borderless btn btn-success weapon-change" ng-click="startCombat()">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="stat-area stat-area-weapons">
	<span>Attack</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-borderless">Init</div>
					<div class="div-table-col" ng-model="turns.thisTurn.initiativeRoll">{{turns.thisTurn.initiative}}</div>
					<div class="div-table-col div-table-col-borderless">Bonus</div>
					<div class="div-table-col div-table-col-borderless">{{turns.thisTurn.currentBonus}}</div>

					<div class="div-table-col div-table-col-borderless">Luck</div>
					<div class="div-table-col">-</div>

					<div class="div-table-col div-table-col-3">Complete Attack</div>
					<div type="button" title="Complete Attack" class="div-table-col div-table-col-borderless btn btn-primary weapon-change">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</div>
					<div class="div-table-col div-table-col-3">Enemy Status</div>
					<div class="div-table-col div-table-col-3">Dead</div>

				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Action</div>
					<div class="div-table-col div-table-col-2">Attack Type</div>
					<div class="div-table-col">Bonus</div>
					<div class="div-table-col">Loc</div>
					<div class="div-table-col div-table-col-2">Specials</div>
					<div class="div-table-col div-table-col-3">Effects</div>
					<div class="div-table-col">Roll</div>
					<div class="div-table-col">AV</div>
					<div class="div-table-col ">Vigor</div>
					<div class="div-table-col div-table-col-2">Sublocation</div>
					<div class="div-table-col">Dmg</div>
					<div class="div-table-col div-table-col-3">Effects</div>
					<!--<div type="button" title="Add Attack" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
						<span class="glyphicon glyphicon-plus"></span>
					</div>-->
				</div>

				<div class="div-table-row">

					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-action-type" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px;">{{turns.currentActionType}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="(activeAction, options) in turns.actionType" role="menuitem"><a ng-click="setActionType(activeAction, options)">{{activeAction}}</a></li>
						</ul>
					</div>
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-attack-type" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px;">{{turns.currentAttackType}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="(activeAttack, value) in turns.attackType" role="menuitem"><a ng-click="setAttackType(activeAttack)">{{activeAttack}}</a></li>
						</ul>
					</div>
					<div class="div-table-col"><input type="number" min="0" max="{{turns.thisTurn.bonus}}" class="form-control form-control-stats" ng-model="turns.thisTurn.bonusUsed" ng-change="bonusUsed()" style="padding: 0px;"></div>



					<div class="btn-group" uib-dropdown style="width: 44px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-location" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 44px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.currentLocation}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="(activeLocation, value) in turns.location" role="menuitem"><a ng-click="setLocation(activeLocation, value)">{{value.name}}</a></li>
						</ul>
					</div>

					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-specials" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.currentSpecial}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="(activeSpecial, options) in turns.specials" role="menuitem"><a ng-click="setSpecial(activeSpecial, options)">{{activeSpecial}}</a></li>
						</ul>
					</div>

					<div class="btn-group" uib-dropdown auto-close="outsideClick"  style="width: 132px; display: table-column; height: 44px; text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-effects" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 132px; height: 44px;">
							<img src="/app/img/{{turns.buyDamageEffects.Bleed.icon}}"> {{turns.buyDamageEffects.Bleed.value}}
							<img src="/app/img/{{turns.buyDamageEffects.Trauma.icon}}"> {{turns.buyDamageEffects.Trauma.value}}
							<img src="/app/img/{{turns.buyDamageEffects.Critical.icon}}"> {{turns.buyDamageEffects.Critical.value}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="min-width: 132px;">
							<li ng-repeat="(activeDamageEffect, options) in turns.buyDamageEffects" role="menuitem" auto-close="disabled">
								<div>
									<a>
										<div style="float: left; padding-left: 5px; padding-right: 5px;"><img src="/app/img/{{options.icon}}" alt="{{activeDamageEffect}}" title="{{activeDamageEffect}}"></div>
										<input type="number" min="0" class="form-control form-control-stats" ng-model="options.value" ng-change="vigorDamageEffectsCost(options, $index)" style="float: left; width: 88px; height: 44px; padding: 0px;">
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="div-table-col"><input type="number" min="3" max="18" class="form-control form-control-stats" ng-model="turns.combatRoll" ng-change="setCombatRoll()" style="padding: 0px;"></div>
					<div class="div-table-col">{{turns.thisTurn.finalAV}}</div>
					<div class="div-table-col">{{turns.thisTurn.vigor}}</div>
					<div class="btn-group" uib-dropdown style="width: 88px; display: table-column;height: 44px;text-align: center;line-height: 44px;vertical-align: middle;float: left;">
						<button id="btn-append-to-single-button-sublocation" type="button" class="btn btn-primary" uib-dropdown-toggle style="width: 88px;height: 44px; padding-left: 5px; padding-right: 5px;">{{turns.sublocationPick}}
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
							<li ng-repeat="(activeSublocation, options) in turns.sublocation" role="menuitem"><a ng-click="setSublocation(activeSublocation, options)">{{activeSublocation}}</a></li>
						</ul>
					</div>
					<div class="div-table-col">{{turns.thisTurn.damage + ' + ' + turns.thisTurn.piercing}}</div>
					<div class="div-table-col div-table-col-3">
						<img src="/app/img/{{turns.buyDamageEffects.Bleed.icon}}"> {{turns.buyDamageEffects.Bleed.value + turns.attackWeapon.}}
						<img src="/app/img/{{turns.buyDamageEffects.Trauma.icon}}"> {{turns.buyDamageEffects.Trauma.value}}
						<img src="/app/img/{{turns.buyDamageEffects.Critical.icon}}"> {{turns.buyDamageEffects.Critical.value}}
					</div>
				</div>

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Main Hand</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">Thrust</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">Head</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">9</div>
					<div class="div-table-col">21</div>
					<div class="div-table-col">3</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">-</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>

				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">-</div>
					<div title="Thrust Effects" class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col div-table-col-3">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-2">-</div>
				</div>
			</div>
		</div>
	</div>
	<span>Defend</span>
	<div class="row">
		<div class="col-md-12">
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Evade DV</div>
					<div class="div-table-col">15</div>
					<div class="div-table-col div-table-col-borderless"></div>
					<div class="div-table-col div-table-col-2">Weapon DV</div>
					<div class="div-table-col">16</div>
					<div class="div-table-col div-table-col-borderless">Luck</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
				</div>
				<div class="div-table-row">

					<div class="div-table-col div-table-col-2">Enemy AV</div>
					<div class="div-table-col div-table-col-2">Action</div>
					<div class="div-table-col div-table-col-2">Def Type</div>
					<div class="div-table-col div-table-col-2">Init Bonus</div>
					<div class="div-table-col div-table-col-2">Specials</div>
					<div class="div-table-col div-table-col-2">Roll</div>
					<div class="div-table-col">DV</div>
					<div class="div-table-col">Vigor</div>
					<div class="div-table-col div-table-col-2">Sublocation</div>
					<div class="div-table-col div-table-col-2">Damage</div>
					<div class="div-table-col div-table-col-2">Effects</div>
					<div type="button" title="Add Defense" class="div-table-col div-table-col-borderless btn btn-success weapon-change">
						<span class="glyphicon glyphicon-plus"></span>
					</div>

				</div>

				<div class="div-table-row">
					<div class="div-table-col">25</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Evade</div>
					<div class="div-table-col div-table-col-2">Evade</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Hard Def</div>
					<div class="div-table-col">13</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col">30</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">-</div>

				</div>
				<div class="div-table-row">
					<div class="div-table-col">24</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">Main Hand</div>
					<div class="div-table-col div-table-col-2">Parry</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">10</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col">23</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-2">-</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col div-table-col-borderless">
						<div class="input-group input-group-stats">
							<span class="input-group-btn">
								<div class="btn-group btn-group-move-item" role="group">
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									</button><br>
									<button type="button" class="btn btn-default btn-xs btn-move-item" aria-label="Left Align">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="div-table-col div-table-col-2"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="stat-area stat-area-weapons">
	<div class="row">
		<div class="col-md-8">
			<span>Vigor</span>
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col">\</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">2</div>
					<div class="div-table-col">3</div>
					<div class="div-table-col">4</div>
					<div class="div-table-col">5</div>
					<div class="div-table-col">6</div>
					<div class="div-table-col">7</div>
					<div class="div-table-col">8</div>
					<div class="div-table-col">9</div>
					<div class="div-table-col">10</div>
					<div class="div-table-col">11</div>
					<div class="div-table-col">12</div>
					<div class="div-table-col">13</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">0</div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-1</div>
					<div class="div-table-col temp-bg-bolor"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-2</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-3</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-4</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">-5</div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
					<div class="div-table-col"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<span>Health</span>
			<div class="div-table">
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Body Part</div>
					<div class="div-table-col"><img src="/app/img/Trauma.png" alt="Trauma" title="Trauma"></div>
					<div class="div-table-col"><img src="/app/img/Bleed.png" alt="Bleed" title="Bleed"></div>
					<div class="div-table-col"><img src="/app/img/Critical.png" alt="Critical" title="Critical"></div>
					<div class="div-table-col">Total</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Head</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Body</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">1</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">1</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Left Arm</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Right Arm</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Left Leg</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col div-table-col-2">Right Leg</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
					<div class="div-table-col">-</div>
				</div>
			</div>
		</div>
	</div>
</div>