.body-css {
	position: fixed;
	top: 51px;
	padding: 20px;
}
.body-css-container {
	width: 1000px;
	margin: 0 auto;
}

.input-group-stats {
	padding-bottom: 5px;
}

.form-control-stats {
height: 44px;
font-size: 18px;
text-align: center;
}

.weapon-move {
	width: 40px;
}

.form-control-weapon {
	height: 44px;
	font-size: 18px;
	text-align: center;
}

.input-group-btn-weapon {
	height: 44px;
}

.input-group-addon-stats {
	min-width: 50px;
	max-width: 50px;
	background-color: #d9534f;
	color: #ffffff;
}

.stat-area {
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	border-radius: 0px;
}

.stat-area-stats {
	width: 137px;
}

.stat-area-combat-skills {
	min-width: 790px;
	max-width: 790px;
}

.stat-area-weapons {
	margin-top: 10px;
	min-width: 954px;
	max-width: 954px;
}

.input-group-combat-skills {
	width: 200px;
	padding-bottom: 5px;
}

.form-control-combat-skills {
	height: 44px;
	font-size: 18px;
	text-align: center;
	min-width: 51px;
	max-width: 51px;
}

.input-group-addon-combat-skills {
	background-color: #d9534f;
	color: #ffffff;
	min-width: 300px;
	max-width: 300px;
}

/* Changing bootstrap*/
.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.input-group-addon {
	border-radius: 0px;
}